.c-header {
  width: 100%;
  font-size: 18px;
  font-weight: $primary-font-medium;
  background-color: $color-black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  z-index: 100;

  &.sticky {
    position: fixed;
    top: 0;

    & + section {
      margin-top: 82px;
    }
  }

  &__logo {
    filter: invert(1);
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  &__navbar {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  }

  &__navbar-toggle {
    filter: invert(1);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    max-height: 30px;
    max-width: 30px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__main-nav {
    list-style-type: none;
    display: none;
    padding: 0;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }

    &__contact {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $color-white;

      &::after {
        display: inline-block;
        content: " ";
        filter: invert(1);
        background-image: url("/assets/svg/phone.svg");
        background-size: 18px 18px;
        height: 18px;
        width: 18px;
        margin-left: 10px;
      }
    }

    li {
      text-align: center;
      margin: 15px auto;

      @media screen and (min-width: 768px) {
        margin: 0;
      }
    }

    a {
      text-decoration: none;
      color: $color-white;

      @media screen and (min-width: 768px) {
        margin-left: 40px;
      }
    }
  }
}
