@import "/node_modules/bootstrap/scss/bootstrap-grid";

//Overwrite Bootstrap containers
.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  max-width: 1500px;
}

img {
  max-width: 100%;
}
