// Import Poppins from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,700,700i&display=swap');

// Colours
$color-primary: #6BDDE2;
$color-black: #000000;
$color-white: #FFFFFF;

// Fonts
$primary-font: 'Poppins', sans-serif;
$primary-font-light: 300;
$primary-font-medium: 400;
$primary-font-bold: 700;

// Breakpoints
// Landscape Phones
$sm: 576px;
// Tablets
$md: 768px;
// Desktops
$lg: 992px;
// Large desktops
$xl: 1200px;
